@page "/"
@namespace KotivWeatherApp.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KotivWeatherApp</title>
    <base href="/" />

    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhTIO27xOFlV5TPqV2hoXfcGOpPRpxbHQ"></script>
    <script src="_framework/blazor.server.js"></script>
    <script src="js/map.js"></script>
</body>
</html>